/*html {
    height: 100%;
}
body {
    height: 100%;
}*/
#both-grid-overlay {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	background: url(images/grid-both.png);
	padding: 10px;
}